{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'alfmaire/css/materialize.css' %} ">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="custom.css">

	<title>TO DO APP</title>

	<nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">TO DO APP</a>
        </div>
      </nav>


{% block content %} 

{% endblock %}

<script type="text/javascript" src="{% static 'alfmaire/js/materialize.min.js' %}"></script>

</body>
</html>